{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />{% endblock %}

{% block body %}
<div class="container mt-4">
	

<h1>Réservation de l'annonce {{ad.title}}</h1>

{{ form_start(form) }}

<div class="row">
	<div class="col">
		{{ form_row(form.startDate,{'label':'Date de début'})}}
	</div>
	<div class="col">
		{{ form_row(form.endDate,{'label':'Date de fin'})}}
	</div>
</div>


{{ form_row(form.comment,{'label':'Commentaire'})}}

<h4>Montant du séjour</h4>
<span id="amount"></span>€ 
<br/><br/><span id="days"></span> nuit(s) à <span>{{ad.price}}€ / nuit</span><br><br>

<button type="submit" class="btn btn-success">Faire la réservation</button>

{{ form_end(form) }}



</div>


{% endblock %}





{% block javascripts %}<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>


<script type="text/javascript">
	

$('#booking_startDate,#booking_endDate').datepicker({
	format:'dd/mm/yyyy',
	startDate: new Date(),
	datesDisabled:[
		{% for day in notAvailableDays %}

			"{{ day | date('d/m/Y') }}",

		{% endfor %}
	],


});
///

$('#booking_startDate,#booking_endDate').on('change',Calculamount);
function Calculamount(){

	const startDate =  $("#booking_startDate").val().replace(/([0-9]{2})\/([0-9]{2})\/([0-9]{4})/,'$3-$2-$1');

	const endDate = $("#booking_endDate").val().replace(/([0-9]{2})\/([0-9]{2})\/([0-9]{4})/,'$3-$2-$1');
	
	const interval = (new Date(endDate )).getTime() - (new Date(startDate )).getTime();
	const days = interval / (24*3600*1000);
	const amount = days * {{ ad.price }}
	$("#amount").text(amount);
	$("#days").text(days);

}

</script>


{% endblock %}


